body {
    background-image: url(/Content/images/bg1.jpg);
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    color: rgb(255, 254, 254);
    font-size: 15px;
    font-weight: bold;
}

.nav-link {
    padding: .2rem 1rem;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.paddy {
    padding-top: 8%;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.nav-bg {
    background-color: rgb(0, 0, 0);
}

.b-0 {
    bottom: 0;
}

.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}

.overflow {
    position: relative;
    overflow: hidden;
}

.zoom img {
    transition: all 0.2s linear;
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bg-navy {
    background-color: rgb(253, 246, 235);
}


/* The footer is fixed to the bottom of the page */

footer {
    bottom: 0;
    box-shadow: 0px 2px 92px 0px rgb(0, 0, 0);
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2c292f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 40px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }


    /* Footer left */

    .footer-distributed .footer-left {
        width: 30%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }


    /* The company logo */

    .footer-distributed .footer-left img {
        width: 30%;
    }

    .footer-distributed h3 span {
        color: #afa8a8;
    }


    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }


    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #e0ac1c;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 30%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


/* Here is the code for Responsive Footer */


/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    margin-top: 50px;
    width: 100%;
}

    .iframe-container iframe {
        border: 0;
        height: 90%;
        left: 0;
        position: absolute;
        top: 0;
        width: 70%;
        padding-left: 25%;
        padding-top: 25px;
    }


/* 4x3 Aspect Ratio */

.iframe-container-4x3 {
    padding-top: 75%;
}



@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
    font-family: 'Oswald', sans-serif;
}

h2 {
    display: inline-block;
}

.btn {
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs {
    font-weight: 300;
}



.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border-bottom: 2px solid #c38a3a;
}

    .btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open > .dropdown-toggle.btn-sunny {
        color: #fff;
        background-color: #f5b75f;
        border-bottom: 2px solid #c4924c;
        outline: none;
    }


    .btn-sunny:active, .btn-sunny.active {
        color: #fff;
        background-color: #d69840;
        border-top: 2px solid #ab7a33;
        margin-top: 2px;
    }

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom: 2px solid #41996c;
}

    .btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open > .dropdown-toggle.btn-fresh {
        color: #fff;
        background-color: #66c796;
        border-bottom: 2px solid #529f78;
        outline: none;
    }


    .btn-fresh:active, .btn-fresh.active {
        color: #fff;
        background-color: #47a877;
        border-top: 2px solid #39865f;
        outline: none;
        outline-offset: none;
        margin-top: 2px;
    }


.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

a {
    color: #fff;
}

    a:hover {
        text-decoration: none;
        color: #fff;
    }
}





.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


