
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--Container-->
<div class="container paddy ">
    <div class="row mb-2 ">
        <div class="col-12 text-center pt-3 ">


        </div>
    </div>

    <!--Start code-->
    <div class="row ">
        <div class="col-12 pb-5 ">
            <!--SECTION START-->
            <section class="row ">

                <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1 ">
                    <div>

                        <div>

                            <!--Item slider-->
                            <div>
                                <div class="card border-0 rounded-0 text-light overflow zoom ">
                                    <div class="position-relative ">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper ">
                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                                <img class="img-fluid w-100 " src="~/Content/images/tatil.jpg" alt="Bootstrap blog template ">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow ">
                                            <!--title-->
                                            <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                                <h2 class="h3 post-title text-white my-1 ">
                                                    En iyi Oteller
                                                </h2>
                                            </a>
                                            <!-- meta title -->
                                            <div class="news-meta ">
                                                <span class="news-author ">
                                                    <a class="text-white font-weight-bold "
                                                       href="../category/author.html ">admin</a>
                                                </span>
                                                <span class="news-date ">17 Ağustos 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>

                    </div>

                </div>
                <!--End slider news-->
                <!--Start box news-->
                <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4 ">
                    <div class="row ">
                        <!--news box-->
                        <div class="col-6 pb-1 pt-0 pr-1 ">
                            <div class="card border-0 rounded-0 text-white overflow zoom ">
                                <div class="position-relative ">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper ">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <img class="img-fluid " src="~/Content/images/tatil2.png" alt="simple blog template bootstrap ">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow ">
                                        <!-- category -->
                                        <a class="p-1 badge badge-primary rounded-0 " href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">Türkiye</a>

                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <h2 class="h5 text-white my-1 ">
                                                Türkiye'de Tatil Beldeleri
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-0 ">
                            <div class="card border-0 rounded-0 text-white overflow zoom ">
                                <div class="position-relative ">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper ">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <img class="img-fluid " src="~/Content/images/tatil3.jpg" alt="bootstrap templates for blog " style="width:300px; height:164px">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow ">
                                        <!-- category -->
                                        <a class="p-1 badge badge-primary rounded-0 " href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">Dünya</a>
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <h2 class="h5 text-white my-1 ">
                                                Dünyada Tatil Beldeleri
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<!--news box-->
                        <div class="col-6 pb-1 pr-1 pt-1 ">
                            <div class="card border-0 rounded-0 text-white overflow zoom ">
                                <div class="position-relative ">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper ">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <img class="img-fluid " src="../assets/images/mask.jpg " alt="bootstrap blog wordpress theme ">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow ">
                                        <!-- category -->
                                        <a class="p-1 badge badge-primary rounded-0 " href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">Bilim</a>
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <h2 class="h5 text-white my-1 ">
                                                Maskeler Ne Kadar Koruyucu?
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        @*<!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-1 ">
                            <div class="card border-0 rounded-0 text-white overflow zoom ">
                                <div class="position-relative ">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper ">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <img class="img-fluid " src="../assets/images/toplum.jpg " alt="blog website templates bootstrap ">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow ">
                                        <!-- category -->
                                        <a class="p-1 badge badge-primary rounded-0 " href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">Toplum</a>
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/ ">
                                            <h2 class="h5 text-white my-1 ">
                                                Coronavirüs'ün Psikolojimiz Üzerinde Etkisi
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end news box-->*@
                    </div>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->
 
           <div class="container">
               <div class="row">
                  
                   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                 
                   
                   <div class="well text-center">

                       <button type="button" class="btn btn-sunny e btn-lg" style="margin-left:60px"><a href="~/Oteller/Index">Otelleri Keşfet</a></button>

                       @if (!User.Identity.IsAuthenticated)
                       {

                       <button type="button" class="btn btn-fresh  btn-lg"><a href="~/Security/Login">Giriş Yap</a></button>
                       }
                   

                   </div>
               </div>
           </div>