
@{
    ViewBag.Title = "OtelSil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using OtelArama.Models
@model Oteller



<br /><br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2" style="text-align:center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    Otel Silme 
                </div>
                <div class="block-controls">
                    <a href="/Oteller/Index"></a>
                    <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>

                <div class="block-content-outer">
                    <div class="block-content-inner"style="text-align:center">
                        <form action="/Oteller/OtelSil" method="post">
                            <input type="hidden" name="otel_id" value="@Model.otel_id" />
                            <a href="#" class="badge badge-danger">@Model.otel_adi</a>
                            <label> adlı oteli silmek istediğinize emin misiniz?</label>
                            <input type="submit" class="btn btn-danger" name="name" value="Evet">
                            <a href="/Oteller/Index" class="btn btn-success ">Hayır</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>